@model IEnumerable<SaleOfPastries.Models.Product>

@{ 
    ViewBag.Title = "List Product";
}
<div class="container">
    <div id="content" class="space-top-none">
        <div class="main-content">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="beta-products-list">
                        <h4>New Products</h4>
                        <div class="beta-products-details">
                            <p class="pull-left">438 styles found</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row wow fadeInDown" data-wow-delay="0.5s">
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row wow fadeInDown" data-wow-delay="0.5s">
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row wow fadeInDown" data-wow-delay="0.5s">
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="single-item">
                                    <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
                                    <div class="single-item-header" id="single-item-header">
                                        <a href="product.html"><img src="assets/dest/images/products/1.jpg" alt=""></a>
                                        <div class="single-item-caption" id="single-item-caption">
                                            <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.5s" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                                            <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.5s" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">Sample Woman Top</p>
                                        <p class="single-item-price">
                                            <span class="flash-del">$34.55</span>
                                            <span class="flash-sale">$33.55</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div> <!-- .beta-products-list -->
                </div>
            </div> <!-- end section with sidebar and main content -->


        </div> <!-- .main-content -->
    </div> <!-- #content -->
</div> <!-- .container -->