@model invoice.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_HOADON" />
            <div class="form-group">
                <label asp-for="ID_KHACHHANG" class="control-label"></label>
                <select asp-for="ID_KHACHHANG" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Customers,"ID_KHACHHANG","TEN_KHACH_HANG","DIA_CHI_KHACH_HANG"))"></select>
                <span asp-validation-for="ID_KHACHHANG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGAYBAN" class="control-label"></label>
                <input asp-for="NGAYBAN" class="form-control" />
                <span asp-validation-for="NGAYBAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
