@model User

@{
    ViewBag.Title = "Edit User";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-area="Admin" asp-controller="User">User</a>
    </li>
    <li class="breadcrumb-item active">Edit</li>
</ol>

<form asp-action="Edit" asp-controller="User" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input type="text" class="form-control" asp-for="FullName" />
                <span asp-validation-for="FullName" style="color:red;"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" style="color:red;"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="text" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" style="color:red;"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input type="text" class="form-control" asp-for="Phone" />
                <span asp-validation-for="Phone" style="color:red;"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input type="text" class="form-control" asp-for="Address" />
                <span asp-validation-for="Address" style="color:red;"></span>
            </div>
            <div class="form-group">
                <label asp-for="status"></label>
                <select asp-for="status" class="form-control">
                    <option value="0">Acive</option>
                    <option value="1">nonAcive</option>
                </select>
                <span asp-validation-for="status" style="color:red;"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Image"></label>
                <input type="file" class="form-control" asp-for="Image" />
                <img class="rounded d-block" width="200" height="200" src="~/image/product/@Html.DisplayFor(model => model.Image)" />
                <span asp-validation-for="Image" style="color:red;"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary offset-3">Edit</button>
            </div>
        </div>
    </div>
</form>

