div.header-bottom {
	box-shadow: 0.4px 0.2px 0.8px 1px #ccc;
	background-color: white;
}
.fixNav{
  width: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 100000000;
}
.navbar{padding:4px;}
a.nav-link{
	margin: 0px 20px;
	color: #4F4F4F;
	font-size: 16px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
a.nav-link:hover {
	color: #68AAEB;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

/*div.dropdown-menu{
	margin-top:10px;
	margin-left: 25px;
	min-width: 100px;
}
*/
div.dropdown-menu{
	display: none;
	/*position: absolute;*/
	margin-top:0px;
	margin-left: 25px;
	min-width: 200px;
	border-top: 4px solid #68AAEB;
	
}

/*hover animation*/
.animation{display: none;}
a.dropdown-item:hover .animation{
	display: block;
	border-top: 2px solid #68AAEB;
	border-radius: 5px;
	transition: height 0s ease 0.5s;
	/*nếu muốn dùng cả 2 thì phải thay height = all*/
	animation: myAnimation 0.3s linear 0s 
}
@keyframes myAnimation{
	from {
		width: 0%;
		height: 1px;
	}
	to {
		width: 100%;
		height: 1px;
	}
}
.dropdown-item{padding:5px 10px;}
ul.navbar-nav li.dropdown:hover div.dropdown-menu {
	display: block;
}

div.dropdown-menu a.dropdown-item{
	color: #4F4F4F!important;
	font-weight: 200!important;
}


/*Product*/
.single-item-header{

}

.single-item-caption{
	display: none;
}

.single-item-header:hover .single-item-caption {
	display: block;
	
}
.single-item-header:hover .single-item-caption .add-to-cart{

	position: absolute;
	top:50%;
	left: 30%;
	z-index: 0;
	/*-webkit-animation: cart 0.75s ease;*/
} 
.single-item-header:hover .single-item-caption .detail-cart{
	position: absolute;
	/*display: none;*/
	border-radius: 4px;
	border:1px solid white;
	background-color: rgba(255, 155, 15, 0.58);
	color:white;
	top:50%;
	left: 50%;
	z-index: 0;
	/*-webkit-animation: cart 0.75s ease;*/
	
} 
.detail-cart:hover{background-color: orange!important;border:1px solid orange!important;}
.fa-chevron-right{color: white;}
@keyframes cart
{
  0% {
   top:0%;
  }
  100% {
    
    top:50%;
  }
}



.ribbon-wrapper {
width:60px;
height:60px;
overflow:hidden;
position:absolute;
top:-3px;
right:-3px
}

.ribbon {
    color:#fff;
    text-align:center;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    position:relative;
    padding:4px 0;
    left:1px;
    top:4px;
    width:80px;
    text-transform:uppercase;
    background-color:#3a5c83
}

.ribbon:before,.ribbon:after {
content:"";
border-top:3px solid #6e8900;
border-left:3px solid transparent;
border-right:3px solid transparent;
position:absolute;
bottom:-3px
}

.ribbon:before {
left:0
}

.ribbon:after {
right:0
}

.ribbon.sale {
background-color:#f90
}

.add-to-cart {
background-color:orange;
height:35px;
width:40px;
text-align:center;
display:inline-block;
margin-right:2px
}

.add-to-cart i {
font-size:22px;
color:#fff;
line-height:35px
}
.add-to-cart:hover{background-color: orange;}


/*sale*/
@keyframes my {
	0% { color: #F8CD0A; } 
	50% { color: #fff;  } 
	100% { color: #F8CD0A;  }
}

.sale{
	background:#3d3d3d;
	font-size:14px;
	font-weight:bold;
	-webkit-animation: my 700ms infinite;
}